* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  opacity: 0.9;
}

/* Add styles here! */

header {
  width: 100%;
  border-bottom: 8px solid hsl(0deg, 0%, 60%);
}

header p {
  font-size: 1.25rem;
  line-height: 1.5rem;
}

header strong {
  color: hsl(160deg, 100%, 30%);
}

h1 {
  padding-bottom: 32px;
}

.intro-chunk {
  max-width: 375px;
  padding: 0px 32px;
  margin: 64px;
}

main {
  width: 100%;
  background-color: hsl(0deg, 0%, 80%);
  height: 100vh;
  padding-top: 64px;
}

.max-width-wrapper {
  max-width: 650px;
}

.card {
  background-color: hsl(0deg, 0%, 100%);
  border-bottom: 8px solid hsl(0deg, 0%, 60%);
  padding: 32px;
  padding-top: 4px;
  margin-left: 64px;
  line-height: 1.5rem;
}

.indented-heading {
  margin: 8px 0px 16px -48px;
  padding: 16px 48px;
  background-color: hsl(45deg, 100%, 50%);
  border-bottom: 8px solid hsl(45deg, 100%, 40%);
  width: fit-content;
}
